smart_backlink_automation_FIXED.json
{
  "name": "🔗 Smart Backlink Builder — Fixed v2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Smart Backlink Builder",
        "formDescription": "Enter your website URL. The automation detects your niche, finds related high-authority websites, and sends you a full backlink report by email.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "websiteUrl",
              "fieldType": "text",
              "placeholder": "https://yourwebsite.com",
              "requiredField": true
            },
            {
              "fieldLabel": "yourName",
              "fieldType": "text",
              "placeholder": "John Smith",
              "requiredField": true
            },
            {
              "fieldLabel": "yourEmail",
              "fieldType": "email",
              "placeholder": "you@example.com",
              "requiredField": true
            },
            {
              "fieldLabel": "niche",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Technology & Software" },
                  { "option": "E-commerce & Retail" },
                  { "option": "Health & Wellness" },
                  { "option": "Finance & Investment" },
                  { "option": "Education & E-Learning" },
                  { "option": "Travel & Tourism" },
                  { "option": "Food & Restaurant" },
                  { "option": "Real Estate" },
                  { "option": "Marketing & SEO" },
                  { "option": "Legal & Law" },
                  { "option": "Gaming & Entertainment" },
                  { "option": "News & Blog" },
                  { "option": "Business & Services" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "strategy",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Aggressive" },
                  { "option": "Balanced" },
                  { "option": "Safe" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "region",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Global" },
                  { "option": "United States" },
                  { "option": "United Kingdom" },
                  { "option": "India" },
                  { "option": "Pakistan" },
                  { "option": "Australia" },
                  { "option": "Canada" },
                  { "option": "UAE" }
                ]
              },
              "requiredField": false
            }
          ]
        },
        "responseMode": "lastNode",
        "formResponseText": "Your backlink report is being generated. Check your email in a few minutes!"
      },
      "id": "node-form-trigger",
      "name": "Website URL Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [100, 400],
      "webhookId": "backlink-builder-v2-webhook"
    },

    {
      "parameters": {
        "jsCode": "// ============================================================\n// FIXED VALIDATE NODE — v2\n// Uses simple string manipulation instead of URL class\n// Reads field keys exactly as n8n Form Trigger outputs them\n// ============================================================\n\n// n8n Form Trigger outputs fields using the fieldLabel value as key\nconst item = $input.first().json;\n\n// --- Read form fields safely ---\nconst rawUrl   = (item.websiteUrl   || item['websiteUrl']   || '').toString().trim();\nconst name     = (item.yourName     || item['yourName']     || 'User').toString().trim();\nconst email    = (item.yourEmail    || item['yourEmail']    || '').toString().trim();\nconst niche    = (item.niche        || item['niche']        || 'Business & Services').toString().trim();\nconst strategy = (item.strategy     || item['strategy']     || 'Balanced').toString().trim();\nconst region   = (item.region       || item['region']       || 'Global').toString().trim();\n\n// --- Guard: URL must not be empty ---\nif (!rawUrl || rawUrl.length < 3) {\n  throw new Error('Please provide a valid website URL.');\n}\n\n// --- Clean URL: add https:// if missing ---\nlet cleanUrl = rawUrl;\nif (!cleanUrl.startsWith('http://') && !cleanUrl.startsWith('https://')) {\n  cleanUrl = 'https://' + cleanUrl;\n}\n// Remove trailing slash\ncleanUrl = cleanUrl.replace(/\\/+$/, '');\n\n// --- Extract domain using simple string split (no URL class needed) ---\n// Strip protocol\nlet domain = cleanUrl.replace(/^https?:\\/\\//i, '');\n// Strip path, query, hash\ndomain = domain.split('/')[0].split('?')[0].split('#')[0];\n// Strip port\ndomain = domain.split(':')[0];\n// Strip www.\ndomain = domain.replace(/^www\\./i, '').toLowerCase();\n\n// Guard: domain must contain a dot\nif (!domain || domain.indexOf('.') === -1) {\n  throw new Error('Invalid URL. Example: https://yourwebsite.com');\n}\n\n// Extract domain root (e.g. \"myshop\" from \"myshop.com\")\nconst domainParts = domain.split('.');\nconst domainRoot  = domainParts[0];\nconst tld         = domainParts[domainParts.length - 1];\nconst slug        = domainRoot.replace(/[^a-z0-9]/gi, ' ').trim();\n\n// --- Strategy config ---\nconst strategyConfig = {\n  'Aggressive': { minDA: 30, maxPlatforms: 80 },\n  'Balanced':   { minDA: 50, maxPlatforms: 50 },\n  'Safe':       { minDA: 70, maxPlatforms: 25 }\n};\nconst config = strategyConfig[strategy] || strategyConfig['Balanced'];\n\n// --- Niche color map ---\nconst nicheColors = {\n  'Technology & Software':  '#6366f1',\n  'E-commerce & Retail':    '#ec4899',\n  'Health & Wellness':      '#10b981',\n  'Finance & Investment':   '#f59e0b',\n  'Education & E-Learning': '#3b82f6',\n  'Travel & Tourism':       '#14b8a6',\n  'Food & Restaurant':      '#f97316',\n  'Real Estate':            '#8b5cf6',\n  'Marketing & SEO':        '#ef4444',\n  'Legal & Law':            '#64748b',\n  'Gaming & Entertainment': '#a855f7',\n  'News & Blog':            '#06b6d4',\n  'Business & Services':    '#6366f1'\n};\nconst nicheColor = nicheColors[niche] || '#6366f1';\n\n// --- Auto-detect niche from domain if user selected default ---\nconst domainLower = (domain + ' ' + slug).toLowerCase();\nconst autoNicheMap = [\n  { niche: 'Technology & Software',  keywords: ['tech','software','app','dev','code','digital','cloud','saas','api','ai','data','cyber','iot'] },\n  { niche: 'E-commerce & Retail',    keywords: ['shop','store','buy','sell','mart','deal','product','retail','market','fashion','wear'] },\n  { niche: 'Health & Wellness',      keywords: ['health','fitness','medical','clinic','care','doctor','nutrition','diet','yoga','gym','pharma','med'] },\n  { niche: 'Finance & Investment',   keywords: ['finance','invest','bank','loan','credit','money','fund','stock','crypto','trade','forex'] },\n  { niche: 'Education & E-Learning', keywords: ['learn','edu','course','school','academy','tutor','study','college','training','skill'] },\n  { niche: 'Travel & Tourism',       keywords: ['travel','tour','trip','hotel','flight','vacation','holiday','visa','cruise','booking'] },\n  { niche: 'Food & Restaurant',      keywords: ['food','recipe','restaurant','cafe','eat','meal','cook','kitchen','bakery','catering'] },\n  { niche: 'Real Estate',            keywords: ['realty','estate','property','home','house','rent','apartment','land','mortgage'] },\n  { niche: 'Marketing & SEO',        keywords: ['market','seo','brand','ads','content','media','growth','agency','promotion'] },\n  { niche: 'Legal & Law',            keywords: ['law','legal','attorney','lawyer','firm','justice','court','advocate'] },\n  { niche: 'Gaming & Entertainment', keywords: ['game','gaming','play','esport','sport','entertainment','movie','music','stream'] },\n  { niche: 'News & Blog',            keywords: ['news','blog','post','article','journal','magazine','press','daily'] }\n];\n\nlet detectedNiche = niche; // use what user selected\nif (niche === 'Business & Services') {\n  // Try to auto-detect from domain\n  for (let i = 0; i < autoNicheMap.length; i++) {\n    const entry = autoNicheMap[i];\n    for (let j = 0; j < entry.keywords.length; j++) {\n      if (domainLower.indexOf(entry.keywords[j]) !== -1) {\n        detectedNiche = entry.niche;\n        break;\n      }\n    }\n    if (detectedNiche !== 'Business & Services') break;\n  }\n}\n\nconst finalNicheColor = nicheColors[detectedNiche] || '#6366f1';\nconst brandName = domainRoot.charAt(0).toUpperCase() + domainRoot.slice(1);\n\nreturn [{\n  json: {\n    rawUrl,\n    cleanUrl,\n    domain,\n    domainRoot,\n    tld,\n    slug,\n    brandName,\n    name,\n    email,\n    niche,\n    detectedNiche,\n    nicheColor: finalNicheColor,\n    strategy,\n    config,\n    region,\n    timestamp: new Date().toISOString(),\n    reportId: 'BL-' + Date.now()\n  }\n}];"
      },
      "id": "node-validate",
      "name": "Validate URL and Detect Niche",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 400]
    },

    {
      "parameters": {
        "url": "={{ $json.cleanUrl }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "node-scrape",
      "name": "Scrape Website HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [580, 400],
      "continueOnFail": true
    },

    {
      "parameters": {
        "jsCode": "// ============================================================\n// PARSE SCRAPED HTML — Extract title, meta, keywords\n// Reads data from Validate node (not scrape, which may fail)\n// ============================================================\n\n// Get validated data from the Validate node\nconst validated = $('Validate URL and Detect Niche').first().json;\n\n// Get scraped HTML (may be empty string or object if scrape failed)\nlet html = '';\ntry {\n  const scrapeResult = $input.first().json;\n  if (typeof scrapeResult === 'string') {\n    html = scrapeResult;\n  } else if (scrapeResult && typeof scrapeResult.data === 'string') {\n    html = scrapeResult.data;\n  } else {\n    html = JSON.stringify(scrapeResult || '');\n  }\n} catch(e) {\n  html = '';\n}\n\n// --- Extract page title ---\nlet siteTitle = validated.brandName;\ntry {\n  const tm = html.match(/<title[^>]*>([^<]{1,120})<\\/title>/i);\n  if (tm && tm[1]) siteTitle = tm[1].trim().replace(/\\s+/g, ' ');\n} catch(e) {}\n\n// --- Extract meta description ---\nlet metaDesc = validated.brandName + ' is a ' + validated.detectedNiche + ' website.';\ntry {\n  const mm = html.match(/<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([^\"']{10,250})[\"']/i)\n           || html.match(/<meta[^>]+content=[\"']([^\"']{10,250})[\"'][^>]+name=[\"']description[\"']/i);\n  if (mm && mm[1]) metaDesc = mm[1].trim();\n} catch(e) {}\n\n// --- Extract keywords from page text ---\nconst stopWords = ['the','and','for','that','this','with','from','your','are','was','has','have','not','but','can','all','any','been','they','their','will','would','could','should','about','which','when','what','how','just','more','also','into','than','its','use','used','using','you','our','we','be','is','in','on','at','to','a','of','it','do','so','as','by','or','an','if','up','out','no','he','she','his','her'];\nlet topKeywords = [];\ntry {\n  const text = html.replace(/<[^>]+>/g, ' ').toLowerCase();\n  const wordMatches = text.match(/\\b[a-z]{4,18}\\b/g) || [];\n  const freq = {};\n  for (let i = 0; i < wordMatches.length; i++) {\n    const w = wordMatches[i];\n    if (stopWords.indexOf(w) === -1) {\n      freq[w] = (freq[w] || 0) + 1;\n    }\n  }\n  topKeywords = Object.keys(freq)\n    .sort(function(a,b){ return freq[b] - freq[a]; })\n    .slice(0, 15);\n} catch(e) {}\n\n// Fallback keywords by niche\nconst nicheKeywords = {\n  'Technology & Software':  ['software','platform','tools','automation','integration','cloud','developer','API','solution','technology'],\n  'E-commerce & Retail':    ['products','shop','deals','collection','shipping','checkout','brand','store','fashion','sale'],\n  'Health & Wellness':      ['health','wellness','fitness','nutrition','care','clinic','doctor','supplement','therapy','lifestyle'],\n  'Finance & Investment':   ['investment','financial','returns','portfolio','trading','wealth','savings','banking','fintech','loans'],\n  'Education & E-Learning': ['courses','learning','skills','training','certification','students','curriculum','online','education','mentor'],\n  'Travel & Tourism':       ['travel','destinations','booking','hotels','flights','tours','vacation','adventure','explore','holiday'],\n  'Food & Restaurant':      ['food','recipes','restaurant','cuisine','menu','delivery','dining','ingredients','cooking','chef'],\n  'Real Estate':            ['property','homes','listing','mortgage','investment','neighborhood','apartment','realty','buy','rent'],\n  'Marketing & SEO':        ['SEO','content','branding','campaigns','traffic','leads','analytics','social','conversion','strategy'],\n  'Legal & Law':            ['legal','attorney','law','counsel','rights','compliance','litigation','firm','contracts','advice'],\n  'Gaming & Entertainment': ['gaming','entertainment','streaming','esports','content','community','broadcast','fans','media','play'],\n  'News & Blog':            ['news','articles','stories','analysis','opinion','trending','editorial','coverage','journalism','breaking'],\n  'Business & Services':    ['business','services','solutions','professional','quality','reliable','expert','consulting','agency','team']\n};\n\nif (topKeywords.length < 5) {\n  topKeywords = nicheKeywords[validated.detectedNiche] || nicheKeywords['Business & Services'];\n}\n\nreturn [{\n  json: Object.assign({}, validated, {\n    siteTitle: siteTitle,\n    metaDesc: metaDesc,\n    topKeywords: topKeywords\n  })\n}];"
      },
      "id": "node-parse",
      "name": "Parse HTML and Extract Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 400]
    },

    {
      "parameters": {
        "jsCode": "// ============================================================\n// DETECT RELATED WEBSITES BY NICHE\n// Returns curated platform list filtered by strategy\n// ============================================================\nconst d = $input.first().json;\nconst niche = d.detectedNiche || 'Business & Services';\nconst minDA = (d.config && d.config.minDA) ? d.config.minDA : 50;\nconst maxPlatforms = (d.config && d.config.maxPlatforms) ? d.config.maxPlatforms : 50;\n\n// ---- NICHE PLATFORM DATABASE ----\nconst nicheDB = {\n  'Technology & Software': [\n    { name:'GitHub',             domain:'github.com',           da:99, type:'Developer',        method:'Profile bio + README links',         url:'https://github.com/join',                              effort:'Low',    df:true  },\n    { name:'Stack Overflow',     domain:'stackoverflow.com',    da:97, type:'Q&A',              method:'Profile link + answer citations',    url:'https://stackoverflow.com/users/signup',               effort:'Medium', df:true  },\n    { name:'Dev.to',             domain:'dev.to',               da:88, type:'Dev Blog',         method:'Publish articles with backlinks',    url:'https://dev.to/enter',                                 effort:'Medium', df:true  },\n    { name:'Hacker News',        domain:'news.ycombinator.com', da:92, type:'Tech Community',   method:'Submit URL under Show HN',          url:'https://news.ycombinator.com/submit',                  effort:'Low',    df:true  },\n    { name:'Product Hunt',       domain:'producthunt.com',      da:90, type:'Launch Platform',  method:'Submit product with website link',   url:'https://www.producthunt.com/posts/new',                effort:'Low',    df:true  },\n    { name:'Alternativeto',      domain:'alternativeto.net',    da:80, type:'Software Dir',     method:'List your software tool',            url:'https://alternativeto.net/software/add/',              effort:'Low',    df:true  },\n    { name:'Capterra',           domain:'capterra.com',         da:91, type:'Software Review',  method:'Free software listing',              url:'https://vendors.capterra.com/free-listing',            effort:'Low',    df:true  },\n    { name:'G2',                 domain:'g2.com',               da:91, type:'Software Review',  method:'Claim free vendor profile',          url:'https://sell.g2.com/free-profile',                     effort:'Low',    df:true  },\n    { name:'Hashnode',           domain:'hashnode.com',         da:80, type:'Dev Blog',         method:'Create blog + backlinks in posts',   url:'https://hashnode.com/onboard',                         effort:'Low',    df:true  },\n    { name:'DZone',              domain:'dzone.com',            da:83, type:'Dev Community',    method:'Publish technical article',          url:'https://dzone.com/articles/new',                       effort:'Medium', df:true  },\n    { name:'TechCrunch Tips',    domain:'techcrunch.com',       da:94, type:'Tech Media',       method:'Submit startup story tip',           url:'https://techcrunch.com/got-a-tip/',                    effort:'High',   df:true  },\n    { name:'Slashdot',           domain:'slashdot.org',         da:88, type:'Tech News',        method:'Submit news story about your product', url:'https://slashdot.org/submission',                    effort:'Medium', df:false }\n  ],\n  'E-commerce & Retail': [\n    { name:'Trustpilot',         domain:'trustpilot.com',       da:93, type:'Review',           method:'Claim business profile + website',   url:'https://business.trustpilot.com/signup',               effort:'Low',    df:true  },\n    { name:'Yelp Business',      domain:'yelp.com',             da:94, type:'Review',           method:'Create business page + website URL', url:'https://biz.yelp.com/signup',                          effort:'Low',    df:true  },\n    { name:'Shopify Community',  domain:'community.shopify.com',da:90, type:'E-com Forum',      method:'Answer questions + profile link',    url:'https://community.shopify.com',                        effort:'Medium', df:true  },\n    { name:'RetailWire',         domain:'retailwire.com',       da:68, type:'Retail Community', method:'Join discussions + profile link',    url:'https://www.retailwire.com/register/',                 effort:'Low',    df:false },\n    { name:'Ecommerce Nation',   domain:'ecommercenation.com',  da:55, type:'Blog',             method:'Guest post with backlink',           url:'https://www.ecommercenation.com/write-for-us/',        effort:'Medium', df:true  },\n    { name:'PriceGrabber',       domain:'pricegrabber.com',     da:79, type:'Price Comparison', method:'List products with website link',    url:'https://www.pricegrabber.com',                         effort:'Medium', df:true  }\n  ],\n  'Health & Wellness': [\n    { name:'Healthgrades',       domain:'healthgrades.com',     da:84, type:'Health Dir',       method:'Claim provider listing + URL',       url:'https://www.healthgrades.com',                         effort:'Low',    df:true  },\n    { name:'WebMD Directory',    domain:'webmd.com',            da:93, type:'Health Portal',    method:'Physician/clinic directory entry',   url:'https://doctor.webmd.com',                             effort:'Low',    df:true  },\n    { name:'Zocdoc',             domain:'zocdoc.com',           da:82, type:'Health Booking',   method:'Practice profile with website link', url:'https://www.zocdoc.com/about/providers/',              effort:'Low',    df:true  },\n    { name:'Vitals',             domain:'vitals.com',           da:75, type:'Doctor Dir',       method:'Claim provider profile',             url:'https://www.vitals.com/doctors/claim',                 effort:'Low',    df:true  },\n    { name:'Psychology Today',   domain:'psychologytoday.com',  da:91, type:'Mental Health',    method:'Therapist directory listing',        url:'https://www.psychologytoday.com/us/therapists/join',   effort:'Low',    df:true  },\n    { name:'Mindbodygreen',      domain:'mindbodygreen.com',    da:83, type:'Wellness Blog',    method:'Expert contributor article',         url:'https://www.mindbodygreen.com/wc/write-for-us',        effort:'High',   df:true  },\n    { name:'Well+Good',          domain:'wellandgood.com',      da:82, type:'Wellness Media',   method:'Pitch wellness article',             url:'https://www.wellandgood.com/contact/',                 effort:'High',   df:true  }\n  ],\n  'Finance & Investment': [\n    { name:'Crunchbase',         domain:'crunchbase.com',       da:91, type:'Business Dir',     method:'Company profile + funding info',     url:'https://www.crunchbase.com/add-new',                   effort:'Low',    df:true  },\n    { name:'Seeking Alpha',      domain:'seekingalpha.com',     da:90, type:'Investment',       method:'Publish analysis with backlink',     url:'https://seekingalpha.com/contributor/',                effort:'High',   df:true  },\n    { name:'Finextra',           domain:'finextra.com',         da:81, type:'FinTech News',     method:'Submit press release or article',    url:'https://www.finextra.com/about/submissions',           effort:'Medium', df:true  },\n    { name:'AngelList/Wellfound',domain:'wellfound.com',        da:88, type:'Startup Platform', method:'Create startup profile + URL',       url:'https://wellfound.com/company/register',               effort:'Low',    df:true  },\n    { name:'Finance Feeds',      domain:'financefeeds.com',     da:62, type:'Finance News',     method:'Press release submission',           url:'https://financefeeds.com/contact-us/',                 effort:'Medium', df:true  }\n  ],\n  'Education & E-Learning': [\n    { name:'Class Central',      domain:'classcentral.com',     da:75, type:'Course Dir',       method:'Submit online course with URL',      url:'https://www.classcentral.com/report/course/',          effort:'Low',    df:true  },\n    { name:'EdSurge',            domain:'edsurge.com',          da:79, type:'EdTech Media',     method:'Product listing + guest article',    url:'https://www.edsurge.com/products/add',                 effort:'Medium', df:true  },\n    { name:'eLearning Industry', domain:'elearningindustry.com',da:77, type:'eLearning Portal', method:'List eLearning product + blog post', url:'https://elearningindustry.com/elearning-companies/submit-company', effort:'Low', df:true },\n    { name:'Teachable',          domain:'teachable.com',        da:84, type:'Course Platform',  method:'Creator profile with website link',  url:'https://teachable.com',                                effort:'Low',    df:true  }\n  ],\n  'Travel & Tourism': [\n    { name:'TripAdvisor',        domain:'tripadvisor.com',      da:95, type:'Travel Review',    method:'Claim business listing + URL',       url:'https://www.tripadvisor.com/GetListedNew',             effort:'Low',    df:true  },\n    { name:'Booking.com Partner',domain:'booking.com',          da:96, type:'Travel Booking',   method:'List your property/tour + URL',      url:'https://partner.booking.com',                          effort:'Low',    df:true  },\n    { name:'Airbnb Host',        domain:'airbnb.com',           da:97, type:'Accommodation',    method:'Host listing + website in bio',      url:'https://www.airbnb.com/host',                          effort:'Low',    df:true  },\n    { name:'Lonely Planet',      domain:'lonelyplanet.com',     da:90, type:'Travel Guide',     method:'Thorn Tree forum + destination tips', url:'https://www.lonelyplanet.com/thorntree',              effort:'Medium', df:false },\n    { name:'Expedia Partner',    domain:'expedia.com',          da:96, type:'Travel Platform',  method:'List business on Expedia network',   url:'https://expedia-lodgingpartner.com',                   effort:'Medium', df:true  }\n  ],\n  'Food & Restaurant': [\n    { name:'Yelp Restaurants',   domain:'yelp.com',             da:94, type:'Review',           method:'Restaurant page + website link',     url:'https://biz.yelp.com/signup',                          effort:'Low',    df:true  },\n    { name:'Zomato',             domain:'zomato.com',           da:91, type:'Food Discovery',   method:'List restaurant + website URL',      url:'https://www.zomato.com/for-restaurants',               effort:'Low',    df:true  },\n    { name:'OpenTable',          domain:'opentable.com',        da:92, type:'Restaurant Booking',method:'Add restaurant + website link',      url:'https://restaurant.opentable.com',                     effort:'Low',    df:true  },\n    { name:'Allrecipes',         domain:'allrecipes.com',       da:91, type:'Recipe Community', method:'Submit recipes + website reference', url:'https://www.allrecipes.com/account/join/',             effort:'Medium', df:true  },\n    { name:'Food52',             domain:'food52.com',           da:83, type:'Food Community',   method:'Community recipes + blog links',     url:'https://food52.com',                                   effort:'Medium', df:true  }\n  ],\n  'Real Estate': [\n    { name:'Zillow',             domain:'zillow.com',           da:94, type:'Real Estate',      method:'Agent/biz profile + website link',   url:'https://www.zillow.com/agent-resources/',              effort:'Low',    df:true  },\n    { name:'Realtor.com',        domain:'realtor.com',          da:91, type:'Real Estate Dir',  method:'Agent listing + website URL',        url:'https://www.realtor.com/realestateagents/',            effort:'Low',    df:true  },\n    { name:'Trulia',             domain:'trulia.com',           da:90, type:'Home Search',      method:'Agent profile + website link',       url:'https://www.trulia.com/agent/',                        effort:'Low',    df:true  },\n    { name:'BiggerPockets',      domain:'biggerpockets.com',    da:85, type:'Investor Forum',   method:'Profile + forum posts with link',    url:'https://www.biggerpockets.com/users/new',              effort:'Medium', df:true  },\n    { name:'Homes.com',          domain:'homes.com',            da:78, type:'Real Estate',      method:'Agent profile + website URL',        url:'https://www.homes.com/agent-center/',                  effort:'Low',    df:true  }\n  ],\n  'Marketing & SEO': [\n    { name:'Search Engine Journal',domain:'searchenginejournal.com',da:88,type:'SEO Media',    method:'Guest post / contributed article',   url:'https://www.searchenginejournal.com/write-for-sej/',   effort:'High',   df:true  },\n    { name:'Moz Community',      domain:'moz.com',              da:90, type:'SEO Authority',    method:'Moz Community Q&A + YouMoz posts',   url:'https://moz.com/community/q',                          effort:'Medium', df:true  },\n    { name:'HubSpot Blog',       domain:'blog.hubspot.com',     da:93, type:'Marketing Hub',    method:'Guest contributor pitch',            url:'https://blog.hubspot.com/marketing/guest-blogging-for-hubspot', effort:'High', df:true },\n    { name:'GrowthHackers',      domain:'growthhackers.com',    da:78, type:'Growth Community', method:'Submit articles + discussions',      url:'https://growthhackers.com',                            effort:'Medium', df:true  },\n    { name:'Ahrefs Blog',        domain:'ahrefs.com',           da:90, type:'SEO Tool',         method:'Community + write-for-us pitch',     url:'https://ahrefs.com/blog/write-for-us/',               effort:'High',   df:true  }\n  ],\n  'Legal & Law': [\n    { name:'Avvo',               domain:'avvo.com',             da:82, type:'Legal Dir',        method:'Claim attorney profile + website',   url:'https://www.avvo.com/for-lawyers',                     effort:'Low',    df:true  },\n    { name:'FindLaw',            domain:'findlaw.com',          da:88, type:'Legal Portal',     method:'Attorney profile + community',       url:'https://lawyers.findlaw.com',                          effort:'Low',    df:true  },\n    { name:'Justia',             domain:'justia.com',           da:86, type:'Legal Dir',        method:'Free lawyer profile + website URL',  url:'https://lawyers.justia.com/signup',                    effort:'Low',    df:true  },\n    { name:'LegalZoom',          domain:'legalzoom.com',        da:84, type:'Legal Services',   method:'Community Q&A + partner listing',    url:'https://www.legalzoom.com',                            effort:'Medium', df:true  }\n  ],\n  'Gaming & Entertainment': [\n    { name:'Twitch',             domain:'twitch.tv',            da:97, type:'Live Streaming',   method:'Channel bio + panels + website',     url:'https://www.twitch.tv/signup',                         effort:'Low',    df:true  },\n    { name:'itch.io',            domain:'itch.io',              da:85, type:'Indie Games',      method:'Game listing + dev website link',    url:'https://itch.io/developers',                           effort:'Low',    df:true  },\n    { name:'Steam Developer',    domain:'store.steampowered.com',da:97,type:'Game Platform',   method:'Dev page + website/press kit link',  url:'https://partner.steamgames.com/',                      effort:'Medium', df:true  },\n    { name:'IGN Community',      domain:'ign.com',              da:92, type:'Gaming Media',     method:'Community profile + game listing',   url:'https://www.ign.com',                                  effort:'Medium', df:false }\n  ],\n  'News & Blog': [\n    { name:'Medium Publications', domain:'medium.com',          da:96, type:'Blog Platform',    method:'Publish articles linking to site',   url:'https://medium.com/new-story',                         effort:'Low',    df:true  },\n    { name:'Substack',           domain:'substack.com',         da:89, type:'Newsletter',       method:'Newsletter + backlinks to site',     url:'https://substack.com/signup',                          effort:'Low',    df:true  },\n    { name:'Flipboard',          domain:'flipboard.com',        da:93, type:'Content Aggregator',method:'Create magazine + add RSS feed',     url:'https://flipboard.com/register',                       effort:'Low',    df:true  },\n    { name:'AllTop',             domain:'alltop.com',           da:77, type:'Blog Directory',   method:'Submit your blog RSS feed',          url:'https://alltop.com/submit/',                           effort:'Low',    df:true  },\n    { name:'Bloglovin',          domain:'bloglovin.com',        da:80, type:'Blog Platform',    method:'Add blog + link back to website',    url:'https://www.bloglovin.com/claim',                      effort:'Low',    df:true  }\n  ],\n  'Business & Services': [\n    { name:'Google Business',    domain:'business.google.com',  da:100,type:'Business Dir',     method:'Claim/create Google Business Profile', url:'https://business.google.com/create',                effort:'Low',    df:true  },\n    { name:'Yelp Business',      domain:'yelp.com',             da:94, type:'Review',           method:'Create business profile + URL',      url:'https://biz.yelp.com/signup',                          effort:'Low',    df:true  },\n    { name:'Manta',              domain:'manta.com',            da:86, type:'Business Dir',     method:'Add free business listing',          url:'https://www.manta.com/claim',                          effort:'Low',    df:true  },\n    { name:'Glassdoor',          domain:'glassdoor.com',        da:93, type:'Company Profile',  method:'Claim employer profile + website',   url:'https://www.glassdoor.com/employers/sign-up/',         effort:'Low',    df:true  },\n    { name:'BBB',                domain:'bbb.org',              da:93, type:'Trust Directory',  method:'Accredit business + website link',   url:'https://www.bbb.org/request-accreditation',            effort:'Medium', df:true  }\n  ]\n};\n\n// Universal platforms (added regardless of niche)\nconst universal = [\n  { name:'LinkedIn Company Page',  domain:'linkedin.com',         da:99, type:'Social',           method:'Company page + website URL in bio',  url:'https://www.linkedin.com/company/setup/new/',          effort:'Low',    df:true  },\n  { name:'Twitter/X Profile',      domain:'twitter.com',          da:99, type:'Social',           method:'Profile bio link + pinned tweet',    url:'https://twitter.com/i/flow/signup',                    effort:'Low',    df:true  },\n  { name:'Facebook Business Page', domain:'facebook.com',         da:99, type:'Social',           method:'Business page + website field',      url:'https://www.facebook.com/pages/creation/',             effort:'Low',    df:true  },\n  { name:'Pinterest Business',     domain:'pinterest.com',        da:99, type:'Visual Social',    method:'Business account + verify website',  url:'https://business.pinterest.com',                       effort:'Low',    df:true  },\n  { name:'YouTube Channel',        domain:'youtube.com',          da:99, type:'Video Platform',   method:'Channel About + video descriptions', url:'https://www.youtube.com/create_channel',               effort:'Medium', df:true  },\n  { name:'Medium Blog',            domain:'medium.com',           da:96, type:'Blog Platform',    method:'Publish articles linking to site',   url:'https://medium.com/new-story',                         effort:'Low',    df:true  },\n  { name:'Quora Profile',          domain:'quora.com',            da:93, type:'Q&A Platform',     method:'Answer questions + bio/answer links', url:'https://www.quora.com',                               effort:'Medium', df:true  },\n  { name:'Reddit Profile',         domain:'reddit.com',           da:97, type:'Community',        method:'Niche subreddits + profile link',    url:'https://www.reddit.com/register',                      effort:'Medium', df:false },\n  { name:'Crunchbase',             domain:'crunchbase.com',       da:91, type:'Company Dir',      method:'Add company profile + website URL',  url:'https://www.crunchbase.com/add-new',                   effort:'Low',    df:true  },\n  { name:'Bing Places',            domain:'bingplaces.com',       da:94, type:'Business Dir',     method:'Claim/create Bing Business listing', url:'https://www.bingplaces.com',                           effort:'Low',    df:true  },\n  { name:'SlideShare',             domain:'slideshare.net',       da:95, type:'Presentation',     method:'Upload slides with backlinks',       url:'https://www.slideshare.net/upload',                    effort:'Medium', df:true  },\n  { name:'Scribd',                 domain:'scribd.com',           da:94, type:'Document',         method:'Upload docs containing your URL',    url:'https://www.scribd.com/upload-document',               effort:'Medium', df:true  },\n  { name:'24-7 Press Release',     domain:'24-7pressrelease.com', da:68, type:'Press Release',    method:'Free press release with website URL', url:'https://www.24-7pressrelease.com/register.php',       effort:'Low',    df:true  },\n  { name:'AngelList/Wellfound',    domain:'wellfound.com',        da:88, type:'Startup Platform', method:'Startup profile + website link',     url:'https://wellfound.com/company/register',               effort:'Low',    df:true  },\n  { name:'Product Hunt',           domain:'producthunt.com',      da:90, type:'Launch Platform',  method:'Submit product + website link',      url:'https://www.producthunt.com/posts/new',                effort:'Low',    df:true  }\n];\n\n// Combine niche + universal, deduplicate by domain\nconst nicheSites = nicheDB[niche] || nicheDB['Business & Services'];\nconst seenDomains = {};\nconst combined = [];\nconst all = nicheSites.concat(universal);\nfor (let i = 0; i < all.length; i++) {\n  const s = all[i];\n  if (!seenDomains[s.domain]) {\n    seenDomains[s.domain] = true;\n    combined.push(s);\n  }\n}\n\n// Filter by minDA\nlet filtered = combined.filter(function(s){ return s.da >= minDA; });\n\n// Sort by DA descending\nfiltered.sort(function(a,b){ return b.da - a.da; });\n\n// Cap to maxPlatforms\nif (filtered.length > maxPlatforms) filtered = filtered.slice(0, maxPlatforms);\n\nconst dofollowCount = filtered.filter(function(s){ return s.df; }).length;\nconst avgDA = filtered.length > 0 ? Math.round(filtered.reduce(function(sum,s){ return sum + s.da; }, 0) / filtered.length) : 0;\nconst lowEffortCount = filtered.filter(function(s){ return s.effort === 'Low'; }).length;\n\nreturn [{\n  json: Object.assign({}, d, {\n    relatedSites: filtered,\n    totalSites: filtered.length,\n    dofollowCount: dofollowCount,\n    avgDA: avgDA,\n    lowEffortCount: lowEffortCount\n  })\n}];"
      },
      "id": "node-detect",
      "name": "Detect Related Websites",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 400]
    },

    {
      "parameters": {
        "jsCode": "// ============================================================\n// GENERATE BACKLINK CONTENT — Templates, anchor texts, pitches\n// ============================================================\nconst d = $input.first().json;\nconst { domain, brandName, siteTitle, metaDesc, detectedNiche, topKeywords, name, cleanUrl, email } = d;\n\nconst kw0 = (topKeywords && topKeywords[0]) ? topKeywords[0] : detectedNiche;\nconst kw1 = (topKeywords && topKeywords[1]) ? topKeywords[1] : 'services';\nconst kw2 = (topKeywords && topKeywords[2]) ? topKeywords[2] : 'solutions';\n\n// Anchor texts\nconst anchorTexts = [\n  brandName,\n  brandName + ' - ' + detectedNiche,\n  cleanUrl,\n  'Visit ' + brandName,\n  'Learn more at ' + domain,\n  kw0 + ' platform',\n  'Best ' + detectedNiche + ' resource',\n  brandName + ' official website',\n  kw0 + ' at ' + brandName,\n  'Click here for ' + kw0\n];\n\n// Directory submission description\nconst submissionDesc = metaDesc && metaDesc.length > 40\n  ? metaDesc + ' Visit us at ' + cleanUrl\n  : brandName + ' is a ' + detectedNiche + ' platform specializing in ' + [kw0,kw1,kw2].join(', ') + '. Visit ' + cleanUrl + ' for more.';\n\n// Quora answer templates\nconst quoraAnswers = [\n  {\n    question: 'What are the best ' + detectedNiche.toLowerCase() + ' tools in 2025?',\n    answer: 'Great question! After testing many platforms, a few key factors matter most: reliability, ease of use, and real results.\\n\\nI have been using ' + brandName + ' (' + cleanUrl + ') and it stands out because of its focus on ' + kw0 + ' and ' + kw1 + '. It works well for both beginners and experienced users in ' + detectedNiche + '.\\n\\nDefinitely worth checking out if you are serious about ' + detectedNiche.toLowerCase() + '.'\n  },\n  {\n    question: 'How do I improve my ' + kw0 + ' results quickly?',\n    answer: 'From my experience, the fastest wins come from focusing on a few high-leverage actions:\\n\\n1. Understand your audience deeply\\n2. Use the right tools for your niche\\n3. Be consistent\\n\\nFor ' + detectedNiche.toLowerCase() + ' specifically, I have found ' + brandName + ' (' + cleanUrl + ') to be extremely useful. Their approach to ' + kw0 + ' is practical and results-driven.'\n  },\n  {\n    question: 'Which ' + detectedNiche.toLowerCase() + ' websites do experts recommend?',\n    answer: 'There are several solid options but the ones that consistently deliver are those focused on quality over quantity.\\n\\n' + brandName + ' (' + cleanUrl + ') is one I keep coming back to. It covers ' + kw0 + ', ' + kw1 + ', and ' + kw2 + ' in a way that is both thorough and actionable. Worth bookmarking.'\n  }\n];\n\n// Article ideas for guest posts\nconst articleIdeas = [\n  'Top 10 ' + detectedNiche + ' Strategies That Actually Work in 2025',\n  'How to Use ' + kw0 + ' to Grow Your Business Fast',\n  'The Ultimate Beginner Guide to ' + detectedNiche,\n  'Common ' + kw0 + ' Mistakes and How to Avoid Them',\n  'Why ' + brandName + ' Is Changing the ' + detectedNiche + ' Space',\n  'Case Study: How We Improved ' + kw1 + ' by 3x Using ' + detectedNiche + ' Best Practices',\n  detectedNiche + ' Trends for 2025: What Experts Are Saying'\n];\n\n// Guest post pitch\nconst guestPitch = 'Subject: Guest Post Pitch — ' + articleIdeas[0] + '\\n\\nHi [Editor Name],\\n\\nI love the content on your blog and especially how you cover ' + detectedNiche.toLowerCase() + ' topics.\\n\\nI would love to contribute a guest post. Here are three ideas I think would resonate with your readers:\\n\\n1. ' + articleIdeas[0] + '\\n2. ' + articleIdeas[1] + '\\n3. ' + articleIdeas[2] + '\\n\\nI run ' + cleanUrl + ', a ' + detectedNiche + ' resource. I can deliver 1,500 to 2,000 words of original well-researched content, include original examples, and link to authoritative sources.\\n\\nWould any of these work for you?\\n\\nBest,\\n' + name;\n\n// Press release\nconst pressHeadline = brandName + ' Launches New ' + detectedNiche + ' Platform to Help Users Get Better Results';\nconst pressBody = cleanUrl + ' — ' + brandName + ', a growing platform in the ' + detectedNiche + ' space, today announced an expansion of its offerings to reach more users worldwide.\\n\\nWith a focus on ' + [kw0,kw1,kw2].join(', ') + ', ' + brandName + ' gives professionals and beginners alike the tools to succeed.\\n\\n\"We built ' + brandName + ' to fill a real gap in the ' + detectedNiche + ' industry,\" said the founding team. \"Our goal is simple: deliver real value to every user.\"\\n\\nFor more information visit ' + cleanUrl;\n\nreturn [{\n  json: Object.assign({}, d, {\n    anchorTexts: anchorTexts,\n    submissionDesc: submissionDesc,\n    quoraAnswers: quoraAnswers,\n    articleIdeas: articleIdeas,\n    guestPitch: guestPitch,\n    pressHeadline: pressHeadline,\n    pressBody: pressBody\n  })\n}];"
      },
      "id": "node-content",
      "name": "Generate Backlink Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },

    {
      "parameters": {
        "jsCode": "// ============================================================\n// BUILD HTML EMAIL REPORT\n// ============================================================\nconst d = $input.first().json;\nconst nc = d.nicheColor || '#6366f1';\n\nfunction row(s, i) {\n  const dac = s.da >= 90 ? '#22c55e' : s.da >= 70 ? '#eab308' : '#6366f1';\n  const ec  = s.effort === 'Low' ? '#22c55e' : s.effort === 'Medium' ? '#eab308' : '#ef4444';\n  return '<tr style=\"border-bottom:1px solid #1e293b;\">'\n    + '<td style=\"padding:11px 10px;color:#64748b;font-size:12px;\">' + (i+1) + '</td>'\n    + '<td style=\"padding:11px 10px;\"><div style=\"font-weight:700;font-size:13px;color:#e2e8f0;\">' + s.name + '</div><div style=\"font-size:11px;color:#475569;font-family:monospace;\">' + s.domain + '</div></td>'\n    + '<td style=\"padding:11px 10px;\"><span style=\"background:#ffffff0f;color:#94a3b8;padding:3px 9px;border-radius:20px;font-size:11px;\">' + s.type + '</span></td>'\n    + '<td style=\"padding:11px 10px;text-align:center;\"><span style=\"background:' + dac + '22;color:' + dac + ';border:1px solid ' + dac + '44;padding:3px 9px;border-radius:8px;font-size:12px;font-weight:800;font-family:monospace;\">' + s.da + '</span></td>'\n    + '<td style=\"padding:11px 10px;font-size:12px;color:#94a3b8;max-width:200px;\">' + s.method + '</td>'\n    + '<td style=\"padding:11px 10px;\"><span style=\"color:' + ec + ';font-size:12px;font-weight:700;\">' + s.effort + '</span></td>'\n    + '<td style=\"padding:11px 10px;\"><span style=\"color:' + (s.df ? '#22c55e' : '#64748b') + ';font-size:12px;font-weight:700;\">' + (s.df ? 'DoFollow' : 'NoFollow') + '</span></td>'\n    + '<td style=\"padding:11px 10px;\"><a href=\"' + s.url + '\" style=\"background:' + nc + ';color:#fff;padding:6px 13px;border-radius:7px;text-decoration:none;font-size:11px;font-weight:700;\">Submit</a></td>'\n    + '</tr>';\n}\n\nconst tableRows = d.relatedSites.map(row).join('');\n\nconst quoraHtml = d.quoraAnswers.map(function(qa){\n  return '<div style=\"margin-bottom:16px;background:#ffffff06;border:1px solid #1e293b;border-radius:10px;padding:18px;\">'\n    + '<div style=\"font-weight:700;color:#e2e8f0;margin-bottom:8px;font-size:13px;\">Q: ' + qa.question + '</div>'\n    + '<div style=\"font-size:13px;color:#94a3b8;line-height:1.7;white-space:pre-line;\">' + qa.answer + '</div>'\n    + '</div>';\n}).join('');\n\nconst anchorHtml = d.anchorTexts.map(function(a){\n  return '<li style=\"margin:5px 0;font-size:13px;color:#94a3b8;\"><code style=\"background:#ffffff0a;padding:2px 8px;border-radius:4px;color:#a5b4fc;font-family:monospace;\">' + a + '</code></li>';\n}).join('');\n\nconst articleHtml = d.articleIdeas.map(function(a,i){\n  return '<li style=\"margin:7px 0;font-size:13px;color:#94a3b8;\"><span style=\"color:' + nc + ';font-weight:700;\">' + (i+1) + '. </span>' + a + '</li>';\n}).join('');\n\nconst html = '<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><title>Backlink Report - ' + d.domain + '</title></head>'\n  + '<body style=\"margin:0;padding:20px;background:#0a0f1e;font-family:Segoe UI,Arial,sans-serif;color:#e2e8f0;\">'\n  + '<div style=\"max-width:960px;margin:0 auto;\">'\n\n  // Header\n  + '<div style=\"background:linear-gradient(135deg,' + nc + '22,#0f172a);border:1px solid ' + nc + '44;border-radius:18px;padding:44px 36px;text-align:center;margin-bottom:20px;\">'\n  + '<div style=\"font-size:12px;letter-spacing:3px;color:' + nc + ';text-transform:uppercase;font-weight:700;margin-bottom:14px;\">Smart Backlink Builder Report</div>'\n  + '<h1 style=\"margin:0 0 10px;font-size:32px;font-weight:900;color:#fff;\">' + (d.siteTitle || d.domain) + '</h1>'\n  + '<p style=\"margin:0 0 20px;color:#94a3b8;font-size:15px;\">' + d.cleanUrl + '</p>'\n  + '<div style=\"display:inline-block;background:' + nc + '22;border:1px solid ' + nc + '44;color:' + nc + ';padding:7px 20px;border-radius:30px;font-size:13px;font-weight:700;\">Niche: ' + d.detectedNiche + '</div>'\n  + '<p style=\"margin:14px 0 0;font-size:12px;color:#475569;\">Report ID: ' + d.reportId + ' &nbsp;|&nbsp; Strategy: ' + d.strategy + ' &nbsp;|&nbsp; Region: ' + d.region + '</p>'\n  + '</div>'\n\n  // Stats\n  + '<div style=\"display:flex;gap:14px;margin-bottom:20px;flex-wrap:wrap;\">'\n  + '<div style=\"flex:1;min-width:120px;background:#0f172a;border:1px solid #1e293b;border-radius:14px;padding:22px;text-align:center;\"><div style=\"font-size:36px;font-weight:900;color:' + nc + ';\">' + d.totalSites + '</div><div style=\"font-size:12px;color:#64748b;margin-top:4px;\">Related Sites</div></div>'\n  + '<div style=\"flex:1;min-width:120px;background:#0f172a;border:1px solid #1e293b;border-radius:14px;padding:22px;text-align:center;\"><div style=\"font-size:36px;font-weight:900;color:#22c55e;\">' + d.dofollowCount + '</div><div style=\"font-size:12px;color:#64748b;margin-top:4px;\">DoFollow Links</div></div>'\n  + '<div style=\"flex:1;min-width:120px;background:#0f172a;border:1px solid #1e293b;border-radius:14px;padding:22px;text-align:center;\"><div style=\"font-size:36px;font-weight:900;color:#eab308;\">' + d.avgDA + '</div><div style=\"font-size:12px;color:#64748b;margin-top:4px;\">Avg DA Score</div></div>'\n  + '<div style=\"flex:1;min-width:120px;background:#0f172a;border:1px solid #1e293b;border-radius:14px;padding:22px;text-align:center;\"><div style=\"font-size:36px;font-weight:900;color:#6366f1;\">' + d.lowEffortCount + '</div><div style=\"font-size:12px;color:#64748b;margin-top:4px;\">Quick Submits</div></div>'\n  + '</div>'\n\n  // Table\n  + '<div style=\"background:#0f172a;border:1px solid #1e293b;border-radius:16px;overflow:hidden;margin-bottom:20px;\">'\n  + '<div style=\"padding:20px 24px 14px;border-bottom:1px solid #1e293b;\"><h2 style=\"margin:0;font-size:18px;color:#fff;\">Related Websites — Your Backlink Targets</h2><p style=\"margin:6px 0 0;color:#64748b;font-size:12px;\">All platforms are relevant to your niche: ' + d.detectedNiche + '. Sorted by Domain Authority.</p></div>'\n  + '<div style=\"overflow-x:auto;\"><table style=\"width:100%;border-collapse:collapse;\">'\n  + '<thead><tr style=\"background:#0a0f1e;\">'\n  + '<th style=\"padding:10px;text-align:left;font-size:11px;color:#475569;text-transform:uppercase;\">#</th>'\n  + '<th style=\"padding:10px;text-align:left;font-size:11px;color:#475569;text-transform:uppercase;\">Platform</th>'\n  + '<th style=\"padding:10px;text-align:left;font-size:11px;color:#475569;text-transform:uppercase;\">Type</th>'\n  + '<th style=\"padding:10px;text-align:center;font-size:11px;color:#475569;text-transform:uppercase;\">DA</th>'\n  + '<th style=\"padding:10px;text-align:left;font-size:11px;color:#475569;text-transform:uppercase;\">Backlink Method</th>'\n  + '<th style=\"padding:10px;text-align:left;font-size:11px;color:#475569;text-transform:uppercase;\">Effort</th>'\n  + '<th style=\"padding:10px;text-align:left;font-size:11px;color:#475569;text-transform:uppercase;\">Type</th>'\n  + '<th style=\"padding:10px;text-align:left;font-size:11px;color:#475569;text-transform:uppercase;\">Action</th>'\n  + '</tr></thead><tbody>' + tableRows + '</tbody></table></div></div>'\n\n  // Week Plan\n  + '<div style=\"background:#0f172a;border:1px solid #1e293b;border-radius:16px;padding:24px;margin-bottom:20px;\">'\n  + '<h2 style=\"margin:0 0 18px;font-size:18px;color:#fff;\">4-Week Action Plan</h2>'\n  + '<table style=\"width:100%;border-collapse:collapse;\">'\n  + '<tr><td style=\"padding:12px;background:#22c55e11;border:1px solid #22c55e22;border-radius:8px;vertical-align:top;width:80px;\"><div style=\"font-weight:700;color:#22c55e;font-size:13px;\">Week 1</div></td><td style=\"padding:12px 16px;font-size:13px;color:#94a3b8;line-height:1.6;\">Submit to all <strong style=\"color:#e2e8f0;\">Low-effort platforms</strong> first: Google Business Profile, LinkedIn, Twitter/X, Pinterest, Facebook Page, Bing Places, Crunchbase, Product Hunt, Quora profile setup, Medium account. <strong style=\"color:#22c55e;\">Target: 12-15 backlinks.</strong></td></tr>'\n  + '<tr><td style=\"padding:12px;background:#6366f111;border:1px solid #6366f122;border-radius:8px;vertical-align:top;\"><div style=\"font-weight:700;color:#6366f1;font-size:13px;\">Week 2</div></td><td style=\"padding:12px 16px;font-size:13px;color:#94a3b8;line-height:1.6;\">Active <strong style=\"color:#e2e8f0;\">community building</strong>: Answer 5+ Quora questions with backlinks, participate in niche subreddits, submit to all niche-specific directories found in your report, publish first Medium article. <strong style=\"color:#6366f1;\">Target: 10-15 more backlinks.</strong></td></tr>'\n  + '<tr><td style=\"padding:12px;background:#eab30811;border:1px solid #eab30822;border-radius:8px;vertical-align:top;\"><div style=\"font-weight:700;color:#eab308;font-size:13px;\">Week 3</div></td><td style=\"padding:12px 16px;font-size:13px;color:#94a3b8;line-height:1.6;\">Send <strong style=\"color:#e2e8f0;\">guest post pitches</strong> using the template below, submit press release to 24-7pressrelease.com, upload a SlideShare presentation, create YouTube intro video with backlink in description. <strong style=\"color:#eab308;\">Target: 8-12 more backlinks.</strong></td></tr>'\n  + '<tr><td style=\"padding:12px;background:#ef444411;border:1px solid #ef444422;border-radius:8px;vertical-align:top;\"><div style=\"font-weight:700;color:#ef4444;font-size:13px;\">Week 4</div></td><td style=\"padding:12px 16px;font-size:13px;color:#94a3b8;line-height:1.6;\">Follow up on guest pitches, submit remaining platforms, check <strong style=\"color:#e2e8f0;\">Google Search Console</strong> for indexed backlinks, verify links with Ahrefs free checker or Moz Link Explorer. Plan month 2 strategy.</td></tr>'\n  + '</table></div>'\n\n  // Anchor Texts\n  + '<div style=\"background:#0f172a;border:1px solid #1e293b;border-radius:16px;padding:24px;margin-bottom:20px;\">'\n  + '<h2 style=\"margin:0 0 14px;font-size:18px;color:#fff;\">Recommended Anchor Texts</h2>'\n  + '<ul style=\"margin:0;padding:0;list-style:none;\">' + anchorHtml + '</ul>'\n  + '</div>'\n\n  // Quora Templates\n  + '<div style=\"background:#0f172a;border:1px solid #1e293b;border-radius:16px;padding:24px;margin-bottom:20px;\">'\n  + '<h2 style=\"margin:0 0 14px;font-size:18px;color:#fff;\">Quora Answer Templates</h2>'\n  + quoraHtml\n  + '</div>'\n\n  // Article Ideas\n  + '<div style=\"background:#0f172a;border:1px solid #1e293b;border-radius:16px;padding:24px;margin-bottom:20px;\">'\n  + '<h2 style=\"margin:0 0 14px;font-size:18px;color:#fff;\">Guest Post Article Ideas</h2>'\n  + '<ul style=\"margin:0;padding:0;list-style:none;\">' + articleHtml + '</ul>'\n  + '</div>'\n\n  // Guest Pitch\n  + '<div style=\"background:#0f172a;border:1px solid #1e293b;border-radius:16px;padding:24px;margin-bottom:20px;\">'\n  + '<h2 style=\"margin:0 0 14px;font-size:18px;color:#fff;\">Guest Post Pitch Email</h2>'\n  + '<div style=\"background:#0a0f1e;border:1px solid #1e293b;border-radius:10px;padding:18px;font-size:13px;color:#94a3b8;white-space:pre-line;line-height:1.8;font-family:monospace;\">' + d.guestPitch + '</div>'\n  + '</div>'\n\n  // Press Release\n  + '<div style=\"background:#0f172a;border:1px solid #1e293b;border-radius:16px;padding:24px;margin-bottom:20px;\">'\n  + '<h2 style=\"margin:0 0 14px;font-size:18px;color:#fff;\">Press Release Template</h2>'\n  + '<div style=\"background:#0a0f1e;border:1px solid #1e293b;border-radius:10px;padding:18px;\">'\n  + '<div style=\"font-weight:800;font-size:14px;color:#e2e8f0;margin-bottom:10px;\">' + d.pressHeadline + '</div>'\n  + '<div style=\"font-size:13px;color:#94a3b8;white-space:pre-line;line-height:1.8;\">' + d.pressBody + '</div>'\n  + '</div></div>'\n\n  // Footer\n  + '<div style=\"text-align:center;padding:28px;border-top:1px solid #1e293b;color:#475569;font-size:12px;\">'\n  + 'Track backlinks with Google Search Console, Ahrefs Free Checker, or Moz Link Explorer.<br>'\n  + 'Report ' + d.reportId + ' — Generated for ' + d.email\n  + '</div>'\n\n  + '</div></body></html>';\n\nreturn [{\n  json: Object.assign({}, d, {\n    htmlReport: html,\n    emailSubject: 'Your Backlink Report for ' + d.domain + ' — ' + d.totalSites + ' Related Sites Found!'\n  })\n}];"
      },
      "id": "node-report",
      "name": "Build HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 400]
    },

    {
      "parameters": {
        "fromEmail": "backlinks@yourautomation.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.emailSubject }}",
        "emailFormat": "html",
        "message": "={{ $json.htmlReport }}",
        "options": {}
      },
      "id": "node-email",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1780, 400],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { status: 'SUCCESS', reportId: d.reportId, website: d.cleanUrl, niche: d.detectedNiche, totalSites: d.totalSites, emailSentTo: d.email, completedAt: new Date().toISOString() } }];"
      },
      "id": "node-log",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 400]
    }
  ],

  "connections": {
    "Website URL Form": {
      "main": [[{ "node": "Validate URL and Detect Niche", "type": "main", "index": 0 }]]
    },
    "Validate URL and Detect Niche": {
      "main": [[{ "node": "Scrape Website HTML", "type": "main", "index": 0 }]]
    },
    "Scrape Website HTML": {
      "main": [[{ "node": "Parse HTML and Extract Keywords", "type": "main", "index": 0 }]]
    },
    "Parse HTML and Extract Keywords": {
      "main": [[{ "node": "Detect Related Websites", "type": "main", "index": 0 }]]
    },
    "Detect Related Websites": {
      "main": [[{ "node": "Generate Backlink Content", "type": "main", "index": 0 }]]
    },
    "Generate Backlink Content": {
      "main": [[{ "node": "Build HTML Report", "type": "main", "index": 0 }]]
    },
    "Build HTML Report": {
      "main": [[{ "node": "Send Email Report", "type": "main", "index": 0 }]]
    },
    "Send Email Report": {
      "main": [[{ "node": "Log Result", "type": "main", "index": 0 }]]
    }
  },

  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["SEO", "Backlinks", "Fixed-v2"]
}
